{% load static %}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>All operations</title>
</head>

<body>

    <div class="container text-center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="{% static 'images/logo3.svg' %}" class="container-fluid" alt="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'transaction' %}">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'depense' %}">Dépenses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'travail' %}">Travaux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil' %}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true" href="{% url 'login' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <h3 class="text-center pt-5">Toutes les Opérations effectuées</h3>
            <a href="{% url 'home' %}" style="color: #016bff; text-decoration: none;" title="Home">
                Retour
            </a>
            <div class="col table-responsive">
                {% if not is_get %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="shadow-sm p-3 mb-5 rounded">
                        <div class="mb-3">
                            <label for="debut">De</label>
                            <input type="date" name="debut">
                            <label for="fin">à</label>
                            <input type="date" name="fin">
                            <input type="submit" class="btn btn-primary" style="background-color: #012778;" value="Chercher">
                        </div>
                    </div>
                </form>
                {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type d'opération</th>
                            <th scope="col">Déscription</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for operation in operations %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td title="Date de l'opération">{{ operation.date }}</td>
                            <td title="Type d'opération">{{ operation.type_operation }}</td>
                            <td title="Déscription">
                                <a href="/operation/{{operation.id}}/" style="color: #016bff; text-decoration: none;" title="voir l'opération">
                                {{ operation.description }}
                            </a>
                            </td>
                            <td title="Auteur">{{ operation.author.last_name }}</td>
                            <td title="Montant" class="fs-5">
                                {{ operation.montant|intcomma }} BIF
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'home' %}" style="color: #016bff; text-decoration: none;" title="Home">
                Retour
            </a>
        </div>
    </div>
</body>

</html>